body {
  color: black;
  margin: 0;
  padding: 0;
  font-family: "Arial", sans-serif;
}

.hero {
  background-image: url(assets/rectangle13.png);
  background-size: cover;
  background-position: center;
  height: 95vh;
  display: flex;
  color: white;
}

.hero__content {
  margin-left: 10%;
  margin-top: 2%;
}

.hero__title {
  font-size: 80px;
  font-family: "Playfair Display", serif;
  max-width: 50%;
}

.hero__button {
  text-decoration: none;
  color: black;
  background-color: white;
  font-family: "Quicksand", sans-serif;
  padding: 10px 20px;
}

.souris {
  display: block;
  margin: 5px auto 0 auto;
  position: relative;
}

/* About Section */
.about {
  padding: 60px 20px;
  margin-left: 10%;
  margin-right: 10%;
}

.about__title {
  font-family: "Rubik", serif;
  font-size: 40px;
  margin-bottom: 6%;
}

.about__container {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.about__item {
  max-width: 90%;
  text-align: left;
  display: flex;
  flex-direction: row;
  gap: 100px;
  align-items: center;
}

.about__item-image {
  width: 65%;
  border-radius: 50%;
  transition: transform 0.3s ease;
}

.about__item-image:hover {
  transform: scale(1.2);
}

.about__item-title {
  margin-top: 10px;
  font-size: 2rem;
  font-weight: bold;
}

.about__item-description {
  margin-top: 10px;
  font-size: 1.2rem;
  color: #1E1E1E;
}

/* Industries */
.industries {
  display: flex;
  flex-direction: column;
  background-color: #18302b;
  color: white;
  text-align: center;
  padding: 4%;
  margin-top: 5%;
}

.industries__title {
  font-family: "Rubik", serif;
  font-size: 48px;
  margin-bottom: 6%;
}

.industries__icons {
  display: flex;
  flex-direction: row;
  margin-left: 10%;
  justify-content: space-around;
  align-items: center;
}

.industries__item {
  display: flex;
  flex-direction: column;
  margin-right: 10%;
  align-items: center;
  transition: transform 0.3s ease;
}

.industries__item:hover .industries__item-image {
  animation: rotate 1s linear infinite;
  /* Continuous rotation */
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.industries__item-image {
  background-color: white;
  border-radius: 50%;
  padding: 30px;
  width: 40px;
  height: 40px;
}

.industries__item-text {
  margin-top: 10px;
  font-size: 1rem;
}

/* Video */
.video {
  margin: 10%;
  text-align: center;
}

.video__container {
  position: relative;
}

.video__image {
  width: 100%;
  border-radius: 10px;
}

.video__button {
  position: absolute;
  top: 90%;
  left: 10%;
  display: flex;
  flex-direction: row;
  align-items: center;
  transform: translate(-50%, -50%);
  color: white;
  text-decoration: none;
  font-size: 1rem;
  font-family: "Quicksand", sans-serif;
}

.video__button-icon {
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

.clients-review {
  background-color: #f8f9f9;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.clients-review_text {
  width: 60%;
  /* text-align: center; */
}

.clients-review_text h3 {
  font-size: 48px;
  font-family: "Rubik", serif;
  margin-top: 5%;
}

.clients-review_text p {
  font-size: 14px;
  font-family: "Quicksand", sans-serif;
  color: #1E1E1E;
}

.clients-review_clients {
  margin: 10%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.clients-review_clients-client {
  background-color: white;
  border-radius: 5px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.clients-review_clients-client-title {
  font-family: "Quicksand", sans-serif;
}

@media (max-width: 948px) {
  .hero {
    flex-direction: column;
    text-align: center;
    /* height: auto; */
  }
  .hero__title {
    font-size: 60px;
    text-align: left;
  }
  .about__container {
    flex-direction: column;
  }
  .about__item {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .about__item:last-child {
    flex-direction: column-reverse;
  }
  .industries {
    flex-direction: column;
    padding: 20px;
    margin: 0;
  }
  .industries__icons {
    flex-direction: column;
    align-items: center;
    margin-left: 0;
  }
  .industries__item {
    margin-right: 0;
    margin-bottom: 20px;
  }
  .video {
    margin: 2%;
  }
}

/*# sourceMappingURL=style.css.map */
